.wrapper {
  min-height: 70vh;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.center form {
  width: 400px;
  background: rgba(237, 166, 166, 0.493);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
